a,
a:visited {
  text-decoration: none;
}

.cards {
  display: grid;
  gap: 2rem;
  max-width: 1240px;
  margin: 0 auto;

  @media (min-width: 40em) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 58em) {
    grid-template-columns: 1fr;
  }
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 300px 1fr auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: rgb(31, 31, 31);
  box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  overflow: hidden;

  @media (min-width: 58em) {
    grid-template-columns: 250px 1fr;
    grid-template-rows: 240px 1fr auto;
  }

  &__overlay {
    display: none;
    @media (min-width: 58em) {
      display: grid;
      justify-items: center;
      align-items: end;
      opacity: 0;
      position: relative;

      grid-row: 1 / 4;
      grid-column: 1 / 4;
      transition: opacity 0.2s ease-in-out;
    }

    .card:hover & {
      opacity: 1;
    }

    span {
      display: inline-block;

      color: white;
      padding: 1rem 1rem;

      text-transform: uppercase;
      border-radius: 5px;
      font-weight: 500;
    }
  }

  &__image {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background: no-repeat center center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;

    @media (min-width: 58em) {
      grid-column: 1 / 2;
      grid-row: 1 / 4;
      border-radius: 10px 0px 0px 10px;
    }
  }

  &__content {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    @media (min-width: 58em) {
      grid-column: 2 / 4;
      grid-row: 1 / 3;
    }
  }

  &__title {
    padding: 0rem 1.4rem;
    padding-top: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
  }

  &__artist {
    padding: 0rem 1.4rem;
    padding-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
  }

  &__detail {
    padding: 0rem 1.4rem;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.8rem;
  }

  &__time {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    padding: 1rem 1.4rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(61, 61, 61);
    justify-self: end;

    @media (min-width: 58em) {
      grid-column: 2 / 4;
      grid-row: 3 / 4;
    }
  }
}
